.section-song-container img{
    max-width: 150px;
    border-radius: 5px;
}
.section-song-container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.section-song-container:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}